# Loading our data

In [2]:
import pandas as pd

# Read csv files
master = pd.read_csv('csv files/10_23_2024_MASTER_MATRR_AllCohorts_Blood_hematology_biochemistry.csv')

# Read the master file. If the CSV has a header row, pandas will use it.
master_df =pd.read_csv('csv files/10_23_2024_MASTER_MATRR_AllCohorts_Blood_hematology_biochemistry.csv')

# Read the biomarker crosstime points file
biomarker_df = pd.read_csv("csv files/Biomarker Cross Timepoints.csv")

# Read the Monkey Data
monkey_df = pd.read_csv("csv files/Monkey Data Cohorts Capstone.csv")

# Check the first few rows of each to verify they loaded correctly
print("Master file:")
print(master_df.head(5))

print("\nBiomarker file:")
print(biomarker_df.head(5))

print("\nMonkey Data file:")
print(monkey_df.head(5))

Master file:
  Species Cohort MATRR ID  Date of BC      Timepoint    State  TP:  ALB:  \
0    cyno      2    10016   8/17/2005  pre-induction  sedated  7.4   NaN
1    cyno      2    10016    2/6/2006  H2O induction    awake  NaN   NaN
2    cyno      2    10016   3/27/2006  H2O induction  sedated    7   4.2
3    cyno      2    10016  10/26/2006  open access 1  sedated  7.9   4.6
4    cyno      2    10016   4/18/2007  open access 2  sedated    7   4.2

   ALKP:  ALT:  ...  BASO%:  HCT:  HGB:  RBC:  MCV:  MCH:  MCHC:   PLT:  \
0    NaN   NaN  ...     0.7  43.5  14.3  6.05  72.0  23.6   32.9  426.0
1    NaN   NaN  ...     0.7  44.1  14.1  5.90  75.0  23.9   32.0  167.0
2  167.0  45.0  ...     0.8  42.8  13.9  5.73  75.0  24.3   32.5  378.0
3   84.0  37.0  ...     0.5  42.5  13.7  5.66  75.0  24.2   32.2  446.0
4  138.0  25.0  ...     0.9  42.9  13.5  5.63  76.0  24.0   31.5  214.0

   Unnamed: 44        Unnamed: 45
0          NaN  LY% = Lymphocytes
1          NaN                NaN
2          NaN                NaN
3          NaN                NaN
4          NaN                NaN

[5 rows x 46 columns]

Biomarker file:
        ID Drinking Category Species Sex       Age  Cortisol  ACTH  \
0  10069.0               VHD  Rhesus   F  4.136977       NaN   NaN
1  10070.0               VHD  Rhesus   F  4.117812       NaN   NaN
2  10072.0                LD  Rhesus   F  5.834480       NaN   NaN
3  10073.0               VHD  Rhesus   F  5.629137       NaN   NaN
4  10074.0                LD  Rhesus   F  5.585330       NaN   NaN

   Deoxycorticosterone  Aldosterone  DHEAS  ...  MIFAnalyte_46       IL_1RA  \
0                  NaN          NaN    NaN  ...      92.381481   436.517067
1                  NaN          NaN    NaN  ...      81.748359   495.060658
2                  NaN          NaN    NaN  ...      25.171621  1895.472706
3                  NaN          NaN    NaN  ...      11.968421   377.229597
4                  NaN          NaN    NaN  ...      27.572010  2035.124018

       TNF_a        IL_2     IP_10         MIG      IL_4      IL_8  \
0  31.596474  204.310168  2.293394  303.533753  3.913593  0.290000
1  54.033872  497.809677  1.588706  307.364482  2.984589  0.290000
2  16.848129   97.404725  2.292832   19.797336  2.408287  0.395192
3  10.366293   33.328021  0.984545   23.738633  0.814232  0.200000
4  23.880953  143.246838  6.181451   51.158897  2.408287  0.200000

        IL_23    VEGF_D
0  204.310168  0.059000
1  497.809677  0.059000
2   97.404725  0.378840
3   33.328021  0.072519
4  143.246838  0.797476

[5 rows x 43 columns]

Monkey Data file:
   mky_id  cohort_name mky_gender  mky_weight drinking_category  bec_exper  \
0   10005  INIA Cyno 1          M        4.95                LD        NaN
1   10005  INIA Cyno 1          M        4.95                LD        NaN
2   10005  INIA Cyno 1          M        4.95                LD        NaN
3   10005  INIA Cyno 1          M        4.95                LD        NaN
4   10005  INIA Cyno 1          M        4.95                LD        NaN

   bec_exper_day bec_sample  bec_gkg_etoh  bec_daily_gkg_etoh  ...  \
0           24.0   11:46:00          0.29                0.51  ...
1           24.0   11:46:00          0.29                0.51  ...
2           24.0   11:46:00          0.29                0.51  ...
3           24.0   11:46:00          0.29                0.51  ...
4           24.0   11:46:00          0.29                0.51  ...

   ebt_number  ebt_start_time  ebt_end_time  ebt_intake_rate  ebt_length  \
0         1.0            37.0         114.0         0.200200        77.0
1         7.0          5861.0        5870.0         0.266667         9.0
2         2.0           463.0         463.0         0.230769         1.0
3         3.0           976.0        1285.0         0.005377       309.0
4         4.0          2106.0        2106.0         0.276923         1.0

   mtd_etoh_intake  mtd_pct_etoh  mtd_veh_intake  mtd_total_pellets  \
0             66.3         14.07           405.0               90.0
1             66.3         14.07           405.0               90.0
2             66.3         14.07           405.0               90.0
3             66.3         14.07           405.0               90.0
4             66.3         14.07           405.0               90.0

   mtd_etoh_conc
0           0.04
1           0.04
2           0.04
3           0.04
4           0.04

[5 rows x 21 columns]

# Cleaning and initial analysis

In [3]:
monkey_df.describe()

,mky_id,mky_weight,bec_exper,bec_exper_day,bec_gkg_etoh,bec_daily_gkg_etoh,bec_mg_pct,ebt_number,ebt_start_time,ebt_end_time,ebt_intake_rate,ebt_length,mtd_etoh_intake,mtd_pct_etoh,mtd_veh_intake,mtd_total_pellets,mtd_etoh_conc
count,160584.000000,160583.000000,0.0,160574.000000,160574.000000,160536.000000,160574.000000,160088.000000,160088.000000,160088.000000,150742.000000,160088.000000,160483.000000,151652.000000,158085.000000,160489.000000,1.516520e+05
mean,10144.804638,8.271772,NaN,265.781092,2.070227,48.312649,80.082035,11.074753,25373.211609,25574.274999,0.184825,201.206474,510.367584,39.767020,974.607884,109.864171,4.000000e-02
std,112.400381,2.221240,NaN,196.850519,1.205222,206.452605,71.974112,8.044851,25125.716404,25068.737091,0.888537,462.681883,308.069509,21.774274,661.009226,43.422157,1.444445e-10
min,10005.000000,2.640000,NaN,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-1.000000,0.000000,-1.000000,-1.000000,4.000000e-02
25%,10045.000000,7.200000,NaN,117.000000,1.400000,1.880000,25.000000,5.000000,7475.000000,7674.000000,0.039245,8.000000,297.600000,24.689225,455.600000,84.000000,4.000000e-02
50%,10088.000000,8.240000,NaN,239.000000,2.000000,2.710000,69.000000,10.000000,16598.000000,16858.000000,0.109146,45.000000,484.500000,35.199060,927.600000,117.000000,4.000000e-02
75%,10247.000000,9.840000,NaN,350.000000,2.680000,3.800000,118.000000,16.000000,28751.750000,28844.000000,0.234528,241.000000,692.500000,49.600000,1435.600000,141.000000,4.000000e-02
max,10359.000000,13.800000,NaN,937.000000,50.600000,1637.800000,669.000000,118.000000,79220.000000,79244.000000,212.188235,45204.000000,2265.200000,100.000000,3649.400000,228.000000,4.000000e-02

In [4]:
master_df.columns

Index(['Species', 'Cohort', 'MATRR ID', 'Date of BC', 'Timepoint', 'State',
       'TP:', 'ALB:', 'ALKP:', 'ALT:', 'AST:', 'GGT:', 'TBIL:', 'GLU:', 'BUN:',
       'CREA:', 'K:', 'NA:', 'CL:', 'Ca:', 'PHOS:', 'Fe:', 'CHOL:', 'LDH:',
       'TRIG:', 'A/G ratio:', 'DBIL:', 'Glob:', 'Amyl:', 'MG:', 'WBC:',
       'NEUT%:', 'BAND%:', 'LY%', 'MONO%:', 'EOS%:', 'BASO%:', 'HCT:', 'HGB:',
       'RBC:', 'MCV:', 'MCH:', 'MCHC:', 'PLT:', 'Unnamed: 44', 'Unnamed: 45'],
      dtype='object')

In [5]:
# We drop two columns that we wont need
master_df = master_df.drop(columns=['Unnamed: 44', 'Unnamed: 45'])

# Cleaning the master dataframe to keep only the open access 1 data (Were keeping onlye the first apparenace assuming thats exactly 60 days after the first open access)
open_access_df = master_df.loc[(master_df['Timepoint'] == 'open access 1') | (master_df['Timepoint'] == 'open access')].drop_duplicates(subset=['MATRR ID', 'Timepoint'], keep='first')

In [6]:
len(open_access_df['MATRR ID'].unique())

185

In [7]:
biomarker_df = biomarker_df.dropna(how='all')

In [8]:
#We need to ensure all keys are strings to be able to use them as keys in case we need to merge our data later
# We also need to clean the 'MATRR ID' column in master_df
open_access_df['MATRR ID'] = open_access_df['MATRR ID'].astype(str) \
    .str.replace('\xa0', '', regex=False) \
    .str.strip() \
    .str.replace(r'\D', '', regex=True)

#We need to make the biomarker ID first be just an int not a float and theh a string
biomarker_df["ID"] = biomarker_df["ID"].astype(int).astype(str)

monkey_df['mky_id'] = monkey_df['mky_id'].astype(str)

In [9]:
#First thing well do is check how many monkeys are in the master but not in the monkey data and vice versa
unique_OA = set(open_access_df['MATRR ID'])
unique_monkeys = set(monkey_df['mky_id'])

common_OA_monkey = unique_OA & unique_monkeys


print("Common IDs in OA file and Monkey Data:", len(common_OA_monkey))

ids_in_master_not_in_monkeys = unique_OA - unique_monkeys
ids_in_monkey_not_in_master = unique_monkeys - unique_OA

print("IDs in OA file but not in Monkey Data:", len(ids_in_master_not_in_monkeys))
print("IDs in Monkey Data but not in OA file:", len(ids_in_monkey_not_in_master))

Common IDs in OA file and Monkey Data: 119
IDs in OA file but not in Monkey Data: 66
IDs in Monkey Data but not in OA file: 28

In [10]:
# We check the unique values of the raw master to ensure were not getting rid of anything important in our clean step before
common_ids_clean = set(master_df['MATRR ID'].unique()) & set(monkey_df['mky_id'].unique())

common_ids_clean - common_OA_monkey

{'10255',
 '10352',
 '10353',
 '10354',
 '10355',
 '10356',
 '10357',
 '10358',
 '10359'}

We found an anomaly where a list of monkeys in the raw master were also in the monkey dataset but not in our clean master, we want to check one of those

In [11]:
master_df[master_df['MATRR ID'] == '10255']

,Species,Cohort,MATRR ID,Date of BC,Timepoint,State,TP:,ALB:,ALKP:,ALT:,...,MONO%:,EOS%:,BASO%:,HCT:,HGB:,RBC:,MCV:,MCH:,MCHC:,PLT:
793,rhesus,16,10255,3/12/2018,baseline,sedated,6.5,4.1,269.0,24.0,...,NaN,NaN,NaN,30.48,11.60,4.64,65.65,24.99,38.06,446.0
794,rhesus,16,10255,11/1/2018,1.5 g/kg etoh induction,sedated,6.9,4.0,146.0,34.0,...,NaN,NaN,NaN,34.62,11.79,4.82,71.87,24.47,34.05,311.0

We can see why its not in the clean master, this monkey does not have an 'open access' at all. For now well keep uisng clen but this is good to know. Lets proceed to check the before and after values to create the DF

In [12]:
# First, ensure the date column is in datetime format
master_df["Date of BC"] = pd.to_datetime(master_df["Date of BC"], errors="coerce")

# Then we create a mask for rows with open access 
open_access_mask = master_df["Timepoint"].str.lower().str.contains("open access", na=False)

# List to store the Timepoint values from the row immediately before the open access record.
before_timepoints = []

# Group by monkey ID  and process each monkey's records.
for monkey, group in master_df.groupby("MATRR ID"):
    # Sort the monkey's records by date.
    group_sorted = group.sort_values("Date of BC").reset_index(drop=True)
    
    # Find indices where Timepoint indicates open access.
    open_indices = group_sorted[group_sorted["Timepoint"].str.lower().str.contains("open access", na=False)].index
    
    # If at least one open access record exists, take the first one.
    if len(open_indices) > 0:
        first_open_index = open_indices[0]
        # Check that there is a record before the open access row.
        if first_open_index > 0:
            before_row = group_sorted.iloc[first_open_index - 1]
            before_timepoints.append(before_row["Timepoint"])

# Count how many times each Timepoint value appears as the "before" value.
before_counts = pd.Series(before_timepoints).value_counts()
print(before_counts)

1.5 g/kg etoh induction       65
H2O induction                 47
pre-induction                 29
etoh induction                17
baseline                       9
1.5 g/kg maltose induction     7
1.0 g/kg etoh induction        5
Name: count, dtype: int64

Seeing there a lot of variety, for now well just use the record right before the open access and well record the monthly difference between teh before and after

In [13]:
from dateutil.relativedelta import relativedelta

# Restrict master_df to the common monkey IDs only
common_ids = set(master_df['MATRR ID'].unique()) & set(monkey_df['mky_id'].unique())
master_common = master_df[master_df['MATRR ID'].isin(common_ids)].copy()

# Initialize a list to hold the new rows.
rows_list = []

# Process each monkey group
for monkey, group in master_common.groupby("MATRR ID"):
    # Sort the records by date
    group_sorted = group.sort_values("Date of BC").reset_index(drop=True)
    # Look for the first occurrence of an "open access" record 
    for i in range(1, len(group_sorted)):
        if "open access" in group_sorted.loc[i, "Timepoint"].lower():
            # Use the record immediately preceding it as the "before"
            before_row = group_sorted.iloc[i - 1].copy()
            after_row = group_sorted.iloc[i].copy()
            # Compute difference in months using relativedelta
            before_date = before_row['Date of BC']
            after_date = after_row['Date of BC']
            delta = relativedelta(after_date, before_date)
            # Approximate total months (include fractional month based on days)
            months_diff = int(delta.years * 12 + delta.months + delta.days / 30.44)
            
            # Add new columns to indicate phase and month difference
            before_row['phase'] = 'before'
            before_row['months_diff'] = months_diff
            after_row['phase'] = 'after'
            after_row['months_diff'] = months_diff
            
            # Append both rows for this monkey and then break (only use the first open access occurrence)
            rows_list.append(before_row)
            rows_list.append(after_row)
            break

# Create the combined DataFrame
combined_df = pd.DataFrame(rows_list)

# Merge monkey-level info from monkey_df; rename mky_id to MATRR ID for consistency.
monkey_info = monkey_df[['mky_id', 'mky_gender', 'mky_weight', 'drinking_category']].drop_duplicates()
monkey_info = monkey_info.rename(columns={'mky_id': 'MATRR ID'})

final_df = pd.merge(combined_df, monkey_info, on='MATRR ID', how='left')

# Set a custom categorical order so that 'before' rows come before 'after'
phase_order = ['before', 'after']
final_df['phase'] = pd.Categorical(final_df['phase'], categories=phase_order, ordered=True)

final_df = final_df.sort_values(['MATRR ID', 'phase']).reset_index(drop=True)

In [18]:
final_df.to_csv('csv files/Before_After.csv', index=False)

In [15]:
len(final_df['MATRR ID'].unique())

119

In [16]:
len(master['MATRR ID'].unique())

206

In [17]:
merged_df = pd.merge(clean_master_df, biomarker_df, left_on="MATRR ID", right_on="ID", how="left")


# Now we check the merged dataframe
print("Merged data:")
print(merged_df.head())

NameError: name 'clean_master_df' is not defined

In [185]:
merged_df['MATRR ID']

0      10016
1      10018
2      10019
3      10020
4      10021
       ...
180    10346
181    10343
182    10349
183    10345
184    10348
Name: MATRR ID, Length: 185, dtype: object

In [186]:
len(merged_df['MATRR ID'].unique())

185

In [187]:
# Save the merged dataframe if needed
merged_df.to_csv("csv files/merged.csv", index=False)
print("Merged CSV saved as 'merged.csv'")

Merged CSV saved as 'merged.csv'