# Loading our data

In [2]:
import pandas as pd

# Read csv files
master = pd.read_csv('csv files/10_23_2024_MASTER_MATRR_AllCohorts_Blood_hematology_biochemistry.csv')

# Read the master file. If the CSV has a header row, pandas will use it.
master_df =pd.read_csv('csv files/10_23_2024_MASTER_MATRR_AllCohorts_Blood_hematology_biochemistry.csv')

# Read the biomarker crosstime points file
biomarker_df = pd.read_csv("csv files/Biomarker Cross Timepoints.csv")

# Read the Monkey Data
monkey_df = pd.read_csv("csv files/Monkey Data Cohorts Capstone.csv")

# Check the first few rows of each to verify they loaded correctly
print("Master file:")
print(master_df.head(5))

print("\nBiomarker file:")
print(biomarker_df.head(5))

print("\nMonkey Data file:")
print(monkey_df.head(5))

Master file:
  Species Cohort MATRR ID  Date of BC      Timepoint    State  TP:  ALB:  \
0    cyno      2    10016   8/17/2005  pre-induction  sedated  7.4   NaN
1    cyno      2    10016    2/6/2006  H2O induction    awake  NaN   NaN
2    cyno      2    10016   3/27/2006  H2O induction  sedated    7   4.2
3    cyno      2    10016  10/26/2006  open access 1  sedated  7.9   4.6
4    cyno      2    10016   4/18/2007  open access 2  sedated    7   4.2

   ALKP:  ALT:  ...  BASO%:  HCT:  HGB:  RBC:  MCV:  MCH:  MCHC:   PLT:  \
0    NaN   NaN  ...     0.7  43.5  14.3  6.05  72.0  23.6   32.9  426.0
1    NaN   NaN  ...     0.7  44.1  14.1  5.90  75.0  23.9   32.0  167.0
2  167.0  45.0  ...     0.8  42.8  13.9  5.73  75.0  24.3   32.5  378.0
3   84.0  37.0  ...     0.5  42.5  13.7  5.66  75.0  24.2   32.2  446.0
4  138.0  25.0  ...     0.9  42.9  13.5  5.63  76.0  24.0   31.5  214.0

   Unnamed: 44        Unnamed: 45
0          NaN  LY% = Lymphocytes
1          NaN                NaN
2          NaN                NaN
3          NaN                NaN
4          NaN                NaN

[5 rows x 46 columns]

Biomarker file:
        ID Drinking Category Species Sex       Age  Cortisol  ACTH  \
0  10069.0               VHD  Rhesus   F  4.136977       NaN   NaN
1  10070.0               VHD  Rhesus   F  4.117812       NaN   NaN
2  10072.0                LD  Rhesus   F  5.834480       NaN   NaN
3  10073.0               VHD  Rhesus   F  5.629137       NaN   NaN
4  10074.0                LD  Rhesus   F  5.585330       NaN   NaN

   Deoxycorticosterone  Aldosterone  DHEAS  ...  MIFAnalyte_46       IL_1RA  \
0                  NaN          NaN    NaN  ...      92.381481   436.517067
1                  NaN          NaN    NaN  ...      81.748359   495.060658
2                  NaN          NaN    NaN  ...      25.171621  1895.472706
3                  NaN          NaN    NaN  ...      11.968421   377.229597
4                  NaN          NaN    NaN  ...      27.572010  2035.124018

       TNF_a        IL_2     IP_10         MIG      IL_4      IL_8  \
0  31.596474  204.310168  2.293394  303.533753  3.913593  0.290000
1  54.033872  497.809677  1.588706  307.364482  2.984589  0.290000
2  16.848129   97.404725  2.292832   19.797336  2.408287  0.395192
3  10.366293   33.328021  0.984545   23.738633  0.814232  0.200000
4  23.880953  143.246838  6.181451   51.158897  2.408287  0.200000

        IL_23    VEGF_D
0  204.310168  0.059000
1  497.809677  0.059000
2   97.404725  0.378840
3   33.328021  0.072519
4  143.246838  0.797476

[5 rows x 43 columns]

Monkey Data file:
   mky_id  cohort_name mky_gender  mky_weight drinking_category  bec_exper  \
0   10005  INIA Cyno 1          M        4.95                LD        NaN
1   10005  INIA Cyno 1          M        4.95                LD        NaN
2   10005  INIA Cyno 1          M        4.95                LD        NaN
3   10005  INIA Cyno 1          M        4.95                LD        NaN
4   10005  INIA Cyno 1          M        4.95                LD        NaN

   bec_exper_day bec_sample  bec_gkg_etoh  bec_daily_gkg_etoh  ...  \
0           24.0   11:46:00          0.29                0.51  ...
1           24.0   11:46:00          0.29                0.51  ...
2           24.0   11:46:00          0.29                0.51  ...
3           24.0   11:46:00          0.29                0.51  ...
4           24.0   11:46:00          0.29                0.51  ...

   ebt_number  ebt_start_time  ebt_end_time  ebt_intake_rate  ebt_length  \
0         1.0            37.0         114.0         0.200200        77.0
1         7.0          5861.0        5870.0         0.266667         9.0
2         2.0           463.0         463.0         0.230769         1.0
3         3.0           976.0        1285.0         0.005377       309.0
4         4.0          2106.0        2106.0         0.276923         1.0

   mtd_etoh_intake  mtd_pct_etoh  mtd_veh_intake  mtd_total_pellets  \
0             66.3         14.07           405.0               90.0
1             66.3         14.07           405.0               90.0
2             66.3         14.07           405.0               90.0
3             66.3         14.07           405.0               90.0
4             66.3         14.07           405.0               90.0

   mtd_etoh_conc
0           0.04
1           0.04
2           0.04
3           0.04
4           0.04

[5 rows x 21 columns]

# Cleaning and initial analysis

In [3]:
monkey_df.describe()

,mky_id,mky_weight,bec_exper,bec_exper_day,bec_gkg_etoh,bec_daily_gkg_etoh,bec_mg_pct,ebt_number,ebt_start_time,ebt_end_time,ebt_intake_rate,ebt_length,mtd_etoh_intake,mtd_pct_etoh,mtd_veh_intake,mtd_total_pellets,mtd_etoh_conc
count,160584.000000,160583.000000,0.0,160574.000000,160574.000000,160536.000000,160574.000000,160088.000000,160088.000000,160088.000000,150742.000000,160088.000000,160483.000000,151652.000000,158085.000000,160489.000000,1.516520e+05
mean,10144.804638,8.271772,NaN,265.781092,2.070227,48.312649,80.082035,11.074753,25373.211609,25574.274999,0.184825,201.206474,510.367584,39.767020,974.607884,109.864171,4.000000e-02
std,112.400381,2.221240,NaN,196.850519,1.205222,206.452605,71.974112,8.044851,25125.716404,25068.737091,0.888537,462.681883,308.069509,21.774274,661.009226,43.422157,1.444445e-10
min,10005.000000,2.640000,NaN,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-1.000000,0.000000,-1.000000,-1.000000,4.000000e-02
25%,10045.000000,7.200000,NaN,117.000000,1.400000,1.880000,25.000000,5.000000,7475.000000,7674.000000,0.039245,8.000000,297.600000,24.689225,455.600000,84.000000,4.000000e-02
50%,10088.000000,8.240000,NaN,239.000000,2.000000,2.710000,69.000000,10.000000,16598.000000,16858.000000,0.109146,45.000000,484.500000,35.199060,927.600000,117.000000,4.000000e-02
75%,10247.000000,9.840000,NaN,350.000000,2.680000,3.800000,118.000000,16.000000,28751.750000,28844.000000,0.234528,241.000000,692.500000,49.600000,1435.600000,141.000000,4.000000e-02
max,10359.000000,13.800000,NaN,937.000000,50.600000,1637.800000,669.000000,118.000000,79220.000000,79244.000000,212.188235,45204.000000,2265.200000,100.000000,3649.400000,228.000000,4.000000e-02

In [4]:
master_df.columns

Index(['Species', 'Cohort', 'MATRR ID', 'Date of BC', 'Timepoint', 'State',
       'TP:', 'ALB:', 'ALKP:', 'ALT:', 'AST:', 'GGT:', 'TBIL:', 'GLU:', 'BUN:',
       'CREA:', 'K:', 'NA:', 'CL:', 'Ca:', 'PHOS:', 'Fe:', 'CHOL:', 'LDH:',
       'TRIG:', 'A/G ratio:', 'DBIL:', 'Glob:', 'Amyl:', 'MG:', 'WBC:',
       'NEUT%:', 'BAND%:', 'LY%', 'MONO%:', 'EOS%:', 'BASO%:', 'HCT:', 'HGB:',
       'RBC:', 'MCV:', 'MCH:', 'MCHC:', 'PLT:', 'Unnamed: 44', 'Unnamed: 45'],
      dtype='object')

In [5]:
# We drop two columns that we wont need
master_df = master_df.drop(columns=['Unnamed: 44', 'Unnamed: 45'])

#We know we have 42 columns, so we can drop the values that have NA in 25 or more columns
clean_master_df = master_df.dropna(thresh=25)

#We will also drop the rows that have NA in more than 10 of our biomarker columns
biomarker_cols = ['TP:', 'ALB:', 'ALKP:', 'ALT:', 'AST:', 'GGT:', 'TBIL:', 'GLU:', 'BUN:',
                  'CREA:', 'K:', 'NA:', 'CL:', 'Ca:', 'PHOS:', 'Fe:', 'CHOL:', 'LDH:',
                  'TRIG:', 'A/G ratio:', 'DBIL:', 'Glob:', 'Amyl:', 'MG:', 'WBC:',
                  'NEUT%:', 'BAND%:', 'LY%', 'MONO%:', 'EOS%:', 'BASO%:', 'HCT:', 'HGB:',
                  'RBC:', 'MCV:', 'MCH:', 'MCHC:', 'PLT:']

# Calculate the threshold (half of the biomarker columns)
threshold = 10

# Drop rows where more than half of the biomarker columns are NaN
clean_master_df = clean_master_df.dropna(subset=biomarker_cols, thresh=threshold)


# Cleaning the master dataframe to keep only the open access 1 data (Were keeping onlye the first apparenace assuming thats exactly 60 days after the first open access)
open_access_df = clean_master_df.loc[(master_df['Timepoint'] == 'open access 1') | (master_df['Timepoint'] == 'open access')].drop_duplicates(subset=['MATRR ID', 'Timepoint'], keep='first')

In [6]:
len(open_access_df['MATRR ID'].unique())

173

In [7]:
biomarker_df = biomarker_df.dropna(how='all')

In [8]:
#We need to ensure all keys are strings to be able to use them as keys in case we need to merge our data later
# We also need to clean the 'MATRR ID' column in master_df
open_access_df['MATRR ID'] = open_access_df['MATRR ID'].astype(str) \
    .str.replace('\xa0', '', regex=False) \
    .str.strip() \
    .str.replace(r'\D', '', regex=True)

#We need to make the biomarker ID first be just an int not a float and theh a string
biomarker_df["ID"] = biomarker_df["ID"].astype(int).astype(str)

monkey_df['mky_id'] = monkey_df['mky_id'].astype(str)

In [9]:
#First thing well do is check how many monkeys are in the master but not in the monkey data and vice versa
unique_OA = set(open_access_df['MATRR ID'])
unique_monkeys = set(monkey_df['mky_id'])

common_OA_monkey = unique_OA & unique_monkeys


print("Common IDs in OA file and Monkey Data:", len(common_OA_monkey))

ids_in_master_not_in_monkeys = unique_OA - unique_monkeys
ids_in_monkey_not_in_master = unique_monkeys - unique_OA

print("IDs in OA file but not in Monkey Data:", len(ids_in_master_not_in_monkeys))
print("IDs in Monkey Data but not in OA file:", len(ids_in_monkey_not_in_master))

Common IDs in OA file and Monkey Data: 118
IDs in OA file but not in Monkey Data: 55
IDs in Monkey Data but not in OA file: 29

In [10]:
# We check the unique values of the raw master to ensure were not getting rid of anything important in our clean step before
common_ids_clean = set(clean_master_df['MATRR ID'].unique()) & set(monkey_df['mky_id'].unique())

common_ids_clean - common_OA_monkey

{'10063',
 '10255',
 '10352',
 '10353',
 '10354',
 '10355',
 '10356',
 '10357',
 '10358',
 '10359'}

We found an anomaly where a list of monkeys in the raw master were also in the monkey dataset but not in our clean master, we want to check one of those

In [11]:
clean_master_df[clean_master_df['MATRR ID'] == '10063']

,Species,Cohort,MATRR ID,Date of BC,Timepoint,State,TP:,ALB:,ALKP:,ALT:,...,MONO%:,EOS%:,BASO%:,HCT:,HGB:,RBC:,MCV:,MCH:,MCHC:,PLT:
199,rhesus,5,10063,8/26/2008,baseline,sedated,6.7,4.5,375.0,22.0,...,3.7,3.2,0.7,42.3,14.2,5.8,73.0,24.5,33.6,301.0
200,rhesus,5,10063,10/29/2008,H2O induction,NaN,7.5,5.2,335.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

After talking with DR benton weve decided to drop monkey 10255 and the rest of the monkeys, the chort 20, well use the pre necropcy for the before and after

In [12]:
#We drop monkey 10255 and 10063
clean_master_df = clean_master_df[clean_master_df['MATRR ID'] != '10063']
clean_master_df = clean_master_df[clean_master_df['MATRR ID'] != '10255']

#We will also add this monkeys to our clean to use in our before and after: '10063', '10352', '10353','10354', '10355', '10356', '10357', '10358', '10359'

We can see why its not in the clean master, this monkey do not have an 'open access' at all. For now well keep uisng clen but this is good to know. Lets proceed to check the before and after values to create the DF

In [14]:
clean_master_df[clean_master_df['Cohort'] == '20']

,Species,Cohort,MATRR ID,Date of BC,Timepoint,State,TP:,ALB:,ALKP:,ALT:,...,MONO%:,EOS%:,BASO%:,HCT:,HGB:,RBC:,MCV:,MCH:,MCHC:,PLT:
1007,rhesus,20,10352,5/4/2022,baseline,sedated,7.4,4.3,532.0,34.0,...,4.1,1.5,0.6,38.2,12.6,5.13,75.0,24.5,32.8,391.0
1008,rhesus,20,10352,3/28/2023,H2O induction,sedated,6.5,3.7,238.0,25.0,...,3.8,0.5,0.6,37.9,12.2,5.00,76.0,24.4,32.2,391.0
1009,rhesus,20,10352,7/14/2023,1.5 g/kg etoh induction,sedated,6.6,3.7,233.0,28.0,...,3.0,0.8,0.7,37.7,12.1,4.98,76.0,24.3,32.1,379.0
1010,rhesus,20,10352,7/21/2023,1.5 g/kg etoh induction,awake,6.8,3.9,235.0,25.0,...,2.5,0.8,0.5,36.6,11.8,4.77,76.0,24.4,32.1,439.0
1011,rhesus,20,10352,4/10/2024,pre-necropsy,sedated,7.6,3.9,235.0,37.0,...,6.3,1.2,0.4,39.5,12.6,5.23,75.0,24.1,32.0,454.0
1012,rhesus,20,10353,5/2/2022,baseline,sedated,6.7,4.2,540.0,43.0,...,3.1,1.2,0.7,37.0,12.4,5.02,74.0,24.7,33.5,331.0
1013,rhesus,20,10353,3/29/2023,H2O induction,sedated,7.3,4.4,429.0,37.0,...,3.3,0.9,0.5,37.7,12.3,5.00,75.0,24.7,32.8,398.0
1014,rhesus,20,10353,7/14/2023,1.5 g/kg etoh induction,sedated,7.2,4.5,359.0,55.0,...,2.4,1.5,0.6,38.1,12.6,5.09,75.0,24.8,33.1,344.0
1015,rhesus,20,10353,7/21/2023,1.5 g/kg etoh induction,awake,7.2,4.4,384.0,45.0,...,2.3,1.4,0.5,38.2,12.4,5.07,75.0,25.0,33.2,377.0
1016,rhesus,20,10353,4/11/2024,pre-necropsy,sedated,7.4,4.3,332.0,45.0,...,5.5,0.8,0.5,37.9,12.4,5.00,76.0,24.8,32.8,389.0
1017,rhesus,20,10354,5/3/2022,baseline,sedated,6.7,4.1,606.0,34.0,...,3.5,5.9,0.4,37.9,12.4,5.36,71.0,23.1,32.7,364.0
1018,rhesus,20,10354,3/29/2023,H2O induction,sedated,6.9,4.3,489.0,41.0,...,3.9,1.6,0.4,38.8,12.4,5.40,72.0,23.0,32.0,143.0
1019,rhesus,20,10354,7/14/2023,1.5 g/kg etoh induction,sedated,7.1,4.2,303.0,47.0,...,2.9,4.7,0.5,39.4,12.7,5.51,71.0,23.0,32.2,328.0
1020,rhesus,20,10354,7/21/2023,1.5 g/kg etoh induction,awake,7,4.2,333.0,44.0,...,2.7,3.3,0.7,38.7,12.6,5.40,72.0,23.4,32.6,412.0
1021,rhesus,20,10354,4/11/2024,pre-necropsy,sedated,7.5,4.2,443.0,28.0,...,5.2,1.5,0.5,35.5,11.6,5.00,71.0,23.1,32.6,373.0
1022,rhesus,20,10355,5/5/2022,baseline,sedated,6.9,4.1,420.0,24.0,...,4.1,2.5,0.5,37.8,12.7,5.41,70.0,23.5,33.5,402.0
1023,rhesus,20,10355,3/31/2023,H2O induction,sedated,6.9,4.0,447.0,37.0,...,2.8,3.2,0.6,39.4,12.7,5.59,71.0,22.7,32.1,253.0
1024,rhesus,20,10355,7/17/2023,1.5 g/kg etoh induction,sedated,6.9,3.9,357.0,23.0,...,2.8,4.0,0.6,41.3,13.3,5.68,73.0,23.4,32.3,357.0
1025,rhesus,20,10355,7/21/2023,1.5 g/kg etoh induction,awake,6.8,3.9,395.0,23.0,...,2.9,1.7,0.6,38.9,12.8,5.31,73.0,24.1,32.9,536.0
1026,rhesus,20,10355,4/8/2024,pre-necropsy,sedated,7.6,4.2,257.0,22.0,...,4.4,1.6,0.4,39.2,13.0,5.50,71.0,23.6,33.1,483.0
1027,rhesus,20,10356,5/12/2022,baseline,sedated,7.7,4.1,451.0,24.0,...,7.5,1.5,0.7,40.4,13.2,5.84,69.0,22.6,32.7,362.0
1028,rhesus,20,10356,3/31/2023,H2O induction,sedated,7.4,4.1,235.0,48.0,...,4.1,3.9,0.7,40.9,13.0,5.79,71.0,22.4,31.7,215.0
1029,rhesus,20,10356,7/17/2023,1.5 g/kg etoh induction,sedated,7.5,4.1,176.0,28.0,...,5.1,1.4,0.7,40.7,13.2,5.73,71.0,23.0,32.4,329.0
1030,rhesus,20,10356,7/21/2023,1.5 g/kg etoh induction,awake,7.5,4.1,196.0,30.0,...,5.8,1.3,1.1,40.3,13.2,5.71,71.0,23.0,32.6,159.0
1031,rhesus,20,10356,4/8/2024,pre-necropsy,sedated,8.2,4.1,261.0,19.0,...,5.8,1.4,0.6,41.6,13.4,5.78,72.0,23.1,32.1,427.0
1032,rhesus,20,10357,5/5/2022,baseline,sedated,7.2,3.7,317.0,30.0,...,5.7,2.6,0.6,38.5,12.6,5.36,72.0,23.5,32.7,333.0
1033,rhesus,20,10357,3/28/2023,H2O induction,sedated,6.6,3.4,217.0,32.0,...,6.8,1.1,0.5,37.5,12.0,5.14,73.0,23.2,31.8,269.0
1034,rhesus,20,10357,7/14/2023,1.5 g/kg etoh induction,sedated,7,3.5,167.0,39.0,...,4.3,1.4,0.7,38.7,12.4,5.29,73.0,23.4,32.0,282.0
1035,rhesus,20,10357,7/21/2023,1.5 g/kg etoh induction,awake,7.1,3.5,166.0,35.0,...,4.2,1.2,0.6,38.1,12.2,5.21,73.0,23.5,32.1,321.0
1036,rhesus,20,10357,4/10/2024,pre-necropsy,sedated,8,4.0,183.0,40.0,...,6.2,8.6,0.9,38.3,12.2,5.28,72.0,23.0,31.8,313.0
1037,rhesus,20,10358,5/4/2022,baseline,sedated,6.9,4.3,179.0,23.0,...,4.0,1.2,0.4,37.7,12.4,5.30,71.0,23.3,32.7,461.0
1038,rhesus,20,10358,3/30/2023,H2O induction,sedated,6.3,3.7,152.0,26.0,...,2.7,1.4,0.6,36.3,11.7,5.04,72.0,23.2,32.3,457.0
1039,rhesus,20,10358,7/17/2023,1.5 g/kg etoh induction,sedated,6.3,3.5,93.0,30.0,...,4.7,1.2,0.8,35.0,11.4,4.97,70.0,22.9,32.5,454.0
1040,rhesus,20,10358,7/21/2023,1.5 g/kg etoh induction,awake,6.6,3.7,118.0,44.0,...,4.0,1.3,1.1,36.2,11.7,5.11,71.0,22.9,32.3,326.0
1041,rhesus,20,10358,4/9/2024,pre-necropsy,sedated,7.5,3.9,95.0,22.0,...,5.4,2.9,1.4,34.5,11.3,4.93,70.0,22.9,32.7,426.0
1042,rhesus,20,10359,5/3/2022,baseline,sedated,6.5,4.2,879.0,28.0,...,6.3,2.8,0.8,36.6,11.9,5.15,71.0,23.2,32.7,359.0
1043,rhesus,20,10359,3/30/2023,H2O induction,sedated,6.4,3.8,423.0,31.0,...,3.8,2.4,0.4,32.0,10.2,4.35,74.0,23.5,32.0,333.0
1044,rhesus,20,10359,7/17/2023,1.5 g/kg etoh induction,sedated,6.4,3.8,351.0,24.0,...,5.0,1.7,0.6,33.9,10.9,4.64,73.0,23.6,32.3,360.0
1045,rhesus,20,10359,7/21/2023,1.5 g/kg etoh induction,awake,6.2,3.7,327.0,22.0,...,3.9,3.4,0.5,33.5,10.8,4.51,74.0,23.9,32.2,391.0
1046,rhesus,20,10359,4/9/2024,pre-necropsy,sedated,6.8,3.9,241.0,20.0,...,7.3,1.5,0.5,35.5,11.1,4.77,74.0,23.3,31.4,410.0

# Creating the Before and after Dataset with our cleaned master DF

In [19]:
# First, ensure the date column is in datetime format
clean_master_df["Date of BC"] = pd.to_datetime(clean_master_df["Date of BC"], errors="coerce")

# Then we create a mask for rows with open access 
open_access_mask = clean_master_df["Timepoint"].str.lower().str.contains("open access", na=False)

# List to store the Timepoint values from the row immediately before the open access record.
before_timepoints = []

# Group by monkey ID  and process each monkey's records.
for monkey, group in clean_master_df.groupby("MATRR ID"):
    # Sort the monkey's records by date.
    group_sorted = group.sort_values("Date of BC").reset_index(drop=True)
    
    # Find indices where Timepoint indicates open access.
    open_indices = group_sorted[group_sorted["Timepoint"].str.lower().str.contains("open access", na=False)].index
    
    # If at least one open access record exists, take the first one.
    if len(open_indices) > 0:
        first_open_index = open_indices[0]
        # Check that there is a record before the open access row.
        if first_open_index > 0:
            before_row = group_sorted.iloc[first_open_index - 1]
            before_timepoints.append(before_row["Timepoint"])
    else:
        # Special condition for cohort 20 (no open access)
        # Use "Pre-necropsy" as the 'before' timepoint
        cohort_number = group_sorted.iloc[0]["Cohort"]  # assuming there's a "Cohort" column
        if cohort_number == 20:
            before_timepoints.append("Pre-necropsy")

# Count how many times each Timepoint value appears as the "before" value.
before_counts = pd.Series(before_timepoints).value_counts()
print(before_counts)

1.5 g/kg etoh induction       64
H2O induction                 40
etoh induction                17
pre-induction                 17
baseline                      14
1.5 g/kg maltose induction     6
1.0 g/kg etoh induction        5
Name: count, dtype: int64

Seeing there a lot of variety, for now well just use the record right before the open access and well record the monthly difference between teh before and after

In [39]:
monkey_df[monkey_df['mky_id'] == '10352']

,mky_id,cohort_name,mky_gender,mky_weight,drinking_category,bec_exper,bec_exper_day,bec_sample,bec_gkg_etoh,bec_daily_gkg_etoh,...,ebt_number,ebt_start_time,ebt_end_time,ebt_intake_rate,ebt_length,mtd_etoh_intake,mtd_pct_etoh,mtd_veh_intake,mtd_total_pellets,mtd_etoh_conc
157086,10352,INIA Rhesus 20,F,7.45,LD,NaN,176.0,15:28:00,2.1,2.8,...,3.0,3273.0,3395.0,0.078330,122.0,464.7,34.795957,870.8,147.0,0.04
157087,10352,INIA Rhesus 20,F,7.45,LD,NaN,176.0,15:28:00,2.1,2.8,...,4.0,8025.0,8674.0,0.034732,649.0,464.7,34.795957,870.8,147.0,0.04
157088,10352,INIA Rhesus 20,F,7.45,LD,NaN,176.0,15:28:00,2.1,2.8,...,6.0,10597.0,10602.0,0.583587,5.0,464.7,34.795957,870.8,147.0,0.04
157089,10352,INIA Rhesus 20,F,7.45,LD,NaN,176.0,15:28:00,2.1,2.8,...,7.0,11167.0,11169.0,1.331307,2.0,464.7,34.795957,870.8,147.0,0.04
157090,10352,INIA Rhesus 20,F,7.45,LD,NaN,176.0,15:28:00,2.1,2.8,...,9.0,16168.0,16679.0,0.070236,511.0,464.7,34.795957,870.8,147.0,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157617,10352,INIA Rhesus 20,F,7.45,LD,NaN,22.0,10:51:00,0.4,0.5,...,4.0,2414.0,2437.0,0.230841,23.0,68.1,3.984087,1641.2,147.0,0.04
157618,10352,INIA Rhesus 20,F,7.45,LD,NaN,22.0,10:51:00,0.4,0.5,...,2.0,850.0,1120.0,0.003677,270.0,68.1,3.984087,1641.2,147.0,0.04
157619,10352,INIA Rhesus 20,F,7.45,LD,NaN,36.0,11:39:00,1.0,1.0,...,1.0,5.0,928.0,0.025368,923.0,144.0,7.507429,1774.1,156.0,0.04
157620,10352,INIA Rhesus 20,F,7.45,LD,NaN,36.0,11:39:00,1.0,1.0,...,2.0,1834.0,3047.0,0.030333,1213.0,144.0,7.507429,1774.1,156.0,0.04
157621,10352,INIA Rhesus 20,F,7.45,LD,NaN,64.0,11:20:00,1.0,1.0,...,1.0,5.0,987.0,0.060931,982.0,144.1,8.329961,1585.8,147.0,0.04

In [35]:
monkey_df['mky_id'].unique()

array(['10005', '10006', '10007', '10008', '10010', '10011', '10012',
       '10013', '10014', '10015', '10016', '10018', '10019', '10020',
       '10021', '10022', '10023', '10024', '10025', '10026', '10027',
       '10032', '10033', '10035', '10036', '10038', '10039', '10040',
       '10041', '10042', '10044', '10045', '10048', '10049', '10051',
       '10052', '10054', '10055', '10056', '10057', '10058', '10059',
       '10060', '10061', '10062', '10063', '10064', '10065', '10066',
       '10067', '10069', '10070', '10072', '10073', '10074', '10075',
       '10077', '10078', '10079', '10080', '10081', '10082', '10083',
       '10084', '10085', '10086', '10087', '10088', '10089', '10090',
       '10091', '10092', '10097', '10098', '10099', '10102', '10104',
       '10107', '10108', '10109', '10110', '10111', '10112', '10113',
       '10114', '10159', '10208', '10209', '10210', '10211', '10212',
       '10213', '10214', '10215', '10242', '10243', '10244', '10246',
       '10247', '10248', '10249', '10251', '10252', '10254', '10255',
       '10256', '10257', '10258', '10259', '10260', '10261', '10262',
       '10263', '10264', '10265', '10319', '10320', '10321', '10322',
       '10323', '10324', '10325', '10326', '10327', '10328', '10329',
       '10330', '10331', '10332', '10333', '10334', '10335', '10336',
       '10337', '10338', '10339', '10340', '10341', '10342', '10352',
       '10353', '10354', '10355', '10356', '10357', '10358', '10359'],
      dtype=object)

In [45]:
master_common[master_common['MATRR ID'] == '10352']

,Species,Cohort,MATRR ID,Date of BC,Timepoint,State,TP:,ALB:,ALKP:,ALT:,...,MONO%:,EOS%:,BASO%:,HCT:,HGB:,RBC:,MCV:,MCH:,MCHC:,PLT:
1007,rhesus,20,10352,2022-05-04,baseline,sedated,7.4,4.3,532.0,34.0,...,4.1,1.5,0.6,38.2,12.6,5.13,75.0,24.5,32.8,391.0
1008,rhesus,20,10352,2023-03-28,H2O induction,sedated,6.5,3.7,238.0,25.0,...,3.8,0.5,0.6,37.9,12.2,5.00,76.0,24.4,32.2,391.0
1009,rhesus,20,10352,2023-07-14,1.5 g/kg etoh induction,sedated,6.6,3.7,233.0,28.0,...,3.0,0.8,0.7,37.7,12.1,4.98,76.0,24.3,32.1,379.0
1010,rhesus,20,10352,2023-07-21,1.5 g/kg etoh induction,awake,6.8,3.9,235.0,25.0,...,2.5,0.8,0.5,36.6,11.8,4.77,76.0,24.4,32.1,439.0
1011,rhesus,20,10352,2024-04-10,pre-necropsy,sedated,7.6,3.9,235.0,37.0,...,6.3,1.2,0.4,39.5,12.6,5.23,75.0,24.1,32.0,454.0

Ive made some additional edts in here after talking iwth Dr Benton to include the monkeys with cohort 20 and no open acess, as talked with her i used the prenecropsy as teh after which technically should be 2 weeks after open access only

In [68]:
from dateutil.relativedelta import relativedelta

# Restrict master_df to the common monkey IDs only
common_ids = set(clean_master_df['MATRR ID'].unique()) & set(monkey_df['mky_id'].unique())
master_common = clean_master_df[clean_master_df['MATRR ID'].isin(common_ids)].copy()

# List to store final rows
final_rows = []

# Iterate over each monkey
for monkey, group in master_common.groupby("MATRR ID"):
    group_sorted = group.sort_values("Date of BC").reset_index(drop=True)

    # Find open access indices
    open_indices = group_sorted[group_sorted["Timepoint"].str.lower().str.contains("open access", na=False)].index

    if len(open_indices) > 0:
        first_open_index = open_indices[0]
        if first_open_index > 0:
            before_row = group_sorted.iloc[first_open_index - 1].copy()
            after_row = group_sorted.iloc[first_open_index].copy()

            delta = relativedelta(after_row['Date of BC'], before_row['Date of BC'])
            months_diff = int(delta.years * 12 + delta.months + delta.days / 30.44)

            # Extend search if months_diff <= 4
            next_index = first_open_index
            while months_diff <= 4 and (next_index + 1) < len(group_sorted):
                next_index += 1
                after_row = group_sorted.iloc[next_index].copy()
                delta = relativedelta(after_row["Date of BC"], before_row["Date of BC"])
                months_diff = int(delta.years * 12 + delta.months + delta.days / 30.44)
        else:
            continue
    else:
        # General handling for no open access scenario
        pre_necropsy_indices = group_sorted[group_sorted["Timepoint"].str.lower().str.contains("pre-necropsy", na=False)].index
        if len(pre_necropsy_indices) > 0:
            pre_necropsy_index = pre_necropsy_indices[0]
            after_row = group_sorted.iloc[pre_necropsy_index].copy()
            if pre_necropsy_index > 0:
                before_row = group_sorted.iloc[pre_necropsy_index - 1].copy()
            else:
                continue
            delta = relativedelta(after_row['Date of BC'], before_row['Date of BC'])
            months_diff = int(delta.years * 12 + delta.months + delta.days / 30.44)
        else:
            continue

    before_row['phase'] = 'before'
    before_row['months_diff'] = months_diff
    after_row['phase'] = 'after'
    after_row['months_diff'] = months_diff

    final_rows.extend([before_row, after_row])

# Merge with monkey info
combined_df = pd.DataFrame(final_rows)
monkey_info = monkey_df[['mky_id', 'mky_gender', 'mky_weight', 'drinking_category']].drop_duplicates()
monkey_info.rename(columns={'mky_id': 'MATRR ID'}, inplace=True)

final_df = pd.merge(combined_df, monkey_info, on='MATRR ID', how='left')

# Sorting the final DataFrame
phase_order = ['before', 'after']
final_df['phase'] = pd.Categorical(final_df['phase'], categories=phase_order, ordered=True)
final_df.sort_values(['MATRR ID', 'phase'], inplace=True)
final_df.reset_index(drop=True, inplace=True)

# Display Timepoint counts
print(final_df[final_df['phase'] == 'before']['Timepoint'].value_counts())

Timepoint
1.5 g/kg etoh induction    62
H2O induction              32
etoh induction             12
baseline                   10
1.0 g/kg etoh induction     5
pre-induction               4
Name: count, dtype: int64

In [69]:
#Check the months difference
final_df['months_diff'].value_counts()

months_diff
5     74
8     64
6     44
7     26
10    16
12    12
11     6
3      6
9      2
Name: count, dtype: int64

Checking if the no open access monkeys are now saved correctly

In [70]:
final_df[final_df['MATRR ID'] == '10082']

,Species,Cohort,MATRR ID,Date of BC,Timepoint,State,TP:,ALB:,ALKP:,ALT:,...,RBC:,MCV:,MCH:,MCHC:,PLT:,phase,months_diff,mky_gender,mky_weight,drinking_category
100,rhesus,7b,10082,2011-05-17,1.0 g/kg etoh induction,sedated,6.3,4.2,217.0,34.0,...,5.28,71.5,24.5,34.3,436.0,before,8,M,7.8,HD
101,rhesus,7b,10082,2012-01-31,open access,sedated,6.8,4.2,191.0,29.0,...,5.20,70.4,24.4,34.6,471.0,after,8,M,7.8,HD

This change that we made, helped us improve the month difference of 44 rows, which interestingly enough, are monkeys that seem to have multiple rowws of open acess, we will check this, but this helped us reduce our 50 3 month to only 6

In [71]:
#Check this monkeys rows in the master dataset for the monkeys with this IDS as they have very low month difference: 10082, 10083, 10084, 10085, 10086, 10242, 10243, 10244, 10246, 10247, 10248, 10249, 10251, 10252, 10254, 10256, 10257, 10258, 10259, 10260, 10261, 10262, 10263, 10264, 10265

#check how many 'open acess' rows we have for each monkey
monkey_ids = ['10082', '10083', '10084', '10085', '10086', '10242', '10243', '10244', '10246', '10247', '10248', '10249', '10251', '10252', '10254', '10256', '10257', '10258', '10259', '10260', '10261', '10262', '10263', '10264', '10265']

# Filter master dataset for these monkeys
filtered_clean_master_df = clean_master_df[clean_master_df['MATRR ID'].isin(monkey_ids)]

# Count how many 'open access' rows exist for each monkey
open_access_counts = (
    filtered_clean_master_df[filtered_clean_master_df['Timepoint'].str.lower().str.contains('open access', na=False)]
    .groupby('MATRR ID')
    .size()
    .reset_index(name='open_access_count')
)

open_access_counts

   MATRR ID  open_access_count
0     10082                  3
1     10083                  3
2     10084                  3
3     10085                  3
4     10086                  3
5     10242                  3
6     10243                  3
7     10244                  4
8     10246                  3
9     10247                  3
10    10248                  3
11    10249                  3
12    10251                  3
13    10252                  3
14    10254                  3
15    10256                  3
16    10257                  2
17    10258                  3
18    10259                  2
19    10260                  3
20    10261                  2
21    10262                  2
22    10263                  3
23    10264                  2
24    10265                  2

In [72]:
#Check the timepoit of the after phase rows
final_df[final_df['months_diff'] <=3]

,Species,Cohort,MATRR ID,Date of BC,Timepoint,State,TP:,ALB:,ALKP:,ALT:,...,RBC:,MCV:,MCH:,MCHC:,PLT:,phase,months_diff,mky_gender,mky_weight,drinking_category
126,cyno,8,10099,2011-03-16,1.5 g/kg etoh induction,sedated,5.7,3.0,220.0,34.0,...,4.27,74.6,24.8,33.2,602.0,before,3,F,4.88,BD
127,cyno,8,10099,2011-07-13,open access,sedated,6.6,3.1,224.0,29.0,...,5.26,74.8,25.5,34.1,563.0,after,3,F,4.88,BD
128,cyno,8,10102,2011-03-16,1.5 g/kg etoh induction,sedated,5.9,3.9,96.0,45.0,...,4.06,74.2,24.3,32.7,531.0,before,3,F,4.68,LD
129,cyno,8,10102,2011-07-13,open access,sedated,6.2,3.8,93.0,88.0,...,4.42,73.9,24.2,32.8,291.0,after,3,F,4.68,LD
130,cyno,8,10104,2011-03-16,1.5 g/kg etoh induction,sedated,6,3.5,91.0,18.0,...,4.88,69.6,23.1,33.1,436.0,before,3,F,5.88,BD
131,cyno,8,10104,2011-07-13,open access,sedated,6.6,3.7,87.0,27.0,...,5.62,68.9,22.9,33.2,462.0,after,3,F,5.88,BD

In [73]:
final_df.to_csv('csv files/Before_After.csv', index=False)

In [74]:
len(final_df['MATRR ID'].unique())

125

In [75]:
len(clean_master_df['MATRR ID'].unique())

204

In [135]:
merged_df = pd.merge(open_access_df, biomarker_df, left_on="MATRR ID", right_on="ID", how="left")


# Now we check the merged dataframe
print("Merged data:")
print(merged_df.head())

Merged data:
  Species_x Cohort MATRR ID  Date of BC      Timepoint    State  TP:  ALB:  \
0      cyno      2    10016  10/26/2006  open access 1  sedated  7.9   4.6
1      cyno      2    10018  10/26/2006  open access 1  sedated  7.3   4.4
2      cyno      2    10019  10/26/2006  open access 1  sedated  6.8   4.3
3      cyno      2    10020  10/26/2006  open access 1  sedated    7   4.3
4      cyno      2    10021  10/26/2006  open access 1  sedated  6.6   4.1

   ALKP:  ALT:  ...  MIFAnalyte_46  IL_1RA  TNF_a  IL_2  IP_10  MIG  IL_4  \
0   84.0  37.0  ...            NaN     NaN    NaN   NaN    NaN  NaN   NaN
1   80.0  18.0  ...            NaN     NaN    NaN   NaN    NaN  NaN   NaN
2   80.0  31.0  ...            NaN     NaN    NaN   NaN    NaN  NaN   NaN
3  213.0  27.0  ...            NaN     NaN    NaN   NaN    NaN  NaN   NaN
4  134.0  25.0  ...            NaN     NaN    NaN   NaN    NaN  NaN   NaN

   IL_8  IL_23 VEGF_D
0   NaN    NaN    NaN
1   NaN    NaN    NaN
2   NaN    NaN    NaN
3   NaN    NaN    NaN
4   NaN    NaN    NaN

[5 rows x 87 columns]

In [136]:
# Save the merged dataframe if needed
merged_df.to_csv("csv files/merged.csv", index=False)
print("Merged CSV saved as 'merged.csv'")

Merged CSV saved as 'merged.csv'

# Creating timeseries of the monkeys

In [137]:
monkey_df.head(5)

,mky_id,cohort_name,mky_gender,mky_weight,drinking_category,bec_exper,bec_exper_day,bec_sample,bec_gkg_etoh,bec_daily_gkg_etoh,...,ebt_number,ebt_start_time,ebt_end_time,ebt_intake_rate,ebt_length,mtd_etoh_intake,mtd_pct_etoh,mtd_veh_intake,mtd_total_pellets,mtd_etoh_conc
0,10005,INIA Cyno 1,M,4.95,LD,NaN,24.0,11:46:00,0.29,0.51,...,1.0,37.0,114.0,0.200200,77.0,66.3,14.07,405.0,90.0,0.04
1,10005,INIA Cyno 1,M,4.95,LD,NaN,24.0,11:46:00,0.29,0.51,...,7.0,5861.0,5870.0,0.266667,9.0,66.3,14.07,405.0,90.0,0.04
2,10005,INIA Cyno 1,M,4.95,LD,NaN,24.0,11:46:00,0.29,0.51,...,2.0,463.0,463.0,0.230769,1.0,66.3,14.07,405.0,90.0,0.04
3,10005,INIA Cyno 1,M,4.95,LD,NaN,24.0,11:46:00,0.29,0.51,...,3.0,976.0,1285.0,0.005377,309.0,66.3,14.07,405.0,90.0,0.04
4,10005,INIA Cyno 1,M,4.95,LD,NaN,24.0,11:46:00,0.29,0.51,...,4.0,2106.0,2106.0,0.276923,1.0,66.3,14.07,405.0,90.0,0.04

In [138]:
monkey_df.shape

(160584, 21)

In [139]:
#We will only use the monkeys that are in open access 1 so we will filter the monkey data to only include those monkeys
open_access_monkeys = open_access_df['MATRR ID'].unique()
monkey_df = monkey_df[monkey_df['mky_id'].isin(open_access_monkeys)]

#Check if we have any NAs in the most important columns

# Group by monkey id and check if all entries in drinking_category are NaN.
monkeys_with_no_category = monkey_df.groupby('mky_id')['drinking_category'].apply(lambda x: x.isna().all())

# Filter the monkey ids where the condition is True 
monkeys_missing_category = monkeys_with_no_category[monkeys_with_no_category].index.tolist()

print("Monkey IDs with no drinking_category information at all:", monkeys_missing_category)

print(monkey_df['bec_exper_day'].isna().sum())

# Filter rows with missing ebt_start_time and ebt_end_time
missing_times = monkey_df[monkey_df['ebt_start_time'].isna() & monkey_df['ebt_end_time'].isna()]

# Total number of rows with missing start and end times
print("Total rows missing start and end times:", len(missing_times))

Monkey IDs with no drinking_category information at all: ['10033']
1
Total rows missing start and end times: 80

In [140]:
#See rows for monkey 10033 
monkey_df[monkey_df['mky_id'] == '10033']

,mky_id,cohort_name,mky_gender,mky_weight,drinking_category,bec_exper,bec_exper_day,bec_sample,bec_gkg_etoh,bec_daily_gkg_etoh,...,ebt_number,ebt_start_time,ebt_end_time,ebt_intake_rate,ebt_length,mtd_etoh_intake,mtd_pct_etoh,mtd_veh_intake,mtd_total_pellets,mtd_etoh_conc
28477,10033,INIA Cyno 3,F,3.7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
#Check if any of this: '10033', '10107', '10108', '10109', '10110', '10111', '10112', '10113', '10114', '10159' is in the master dataset
clean_master_df[clean_master_df['MATRR ID'].isin(['10033', '10107', '10108', '10109', '10110', '10111', '10112', '10113', '10114', '10159'])]

,Species,Cohort,MATRR ID,Date of BC,Timepoint,State,TP:,ALB:,ALKP:,ALT:,...,MONO%:,EOS%:,BASO%:,HCT:,HGB:,RBC:,MCV:,MCH:,MCHC:,PLT:
101,cyno,3,10033,2006-10-26,etoh induction,sedated,6,4.0,183.0,16.0,...,4.2,2.0,1.3,35.7,11.4,4.88,73.0,23.4,31.9,710.0
102,cyno,3,10033,2007-04-17,open access,sedated,6,3.7,151.0,18.0,...,4.0,3.6,1.1,37.5,12.1,5.12,73.0,23.6,32.3,417.0

In [142]:
#We dfrop this rows with not data at all
monkey_df = monkey_df[~monkey_df['mky_id'].isin(['10033', '10107', '10108', '10109', '10110', '10111', '10112', '10113', '10114', '10159'])]

In [143]:
# Check rows where all columns except few are NaN
rows_all_na_except_id = missing_times[missing_times.drop(columns=['mky_id', 'cohort_name', 'mky_gender', 'mky_weight']).isna().all(axis=1)]
print("Rows completely NA (all columns except mky_id missing):", len(rows_all_na_except_id))

# We know we have 21 columns so if more than half are missing we count, as this would be useless basically

# Filter rows where the count of NaN values is greater than 10
rows_with_more_than_half_na = monkey_df[monkey_df.isna().sum(axis=1) > 10]

# Print the count of such rows
print("Count of rows with more than half of the columns as NaN:", len(rows_with_more_than_half_na))

Rows completely NA (all columns except mky_id missing): 1
Count of rows with more than half of the columns as NaN: 66

In [144]:
#We drop the rows with more than 10 columns as NaN
monkey_df = monkey_df[monkey_df.isna().sum(axis=1) <= 10]

In [145]:
# Filter rows with missing ebt_start_time and ebt_end_time
missing_times = monkey_df[monkey_df['ebt_start_time'].isna() & monkey_df['ebt_end_time'].isna()]

# Total number of rows with missing start and end times
print("Total rows missing start and end times:", len(missing_times))

Total rows missing start and end times: 13

Were going to check now the way this 401 missing times are spread to see if theres any monkey that has no record at all cause then we would need to drop those monkeys too

In [146]:
missing_counts = missing_times.groupby('mky_id').size()
print("Missing times count per monkey in the subset:")
print(missing_counts)

# check if that monkey has any valid (non-missing) start or end time in the full dataset.
monkeys_no_valid_time = []
monkeys_mixed = []

# Loop over the monkey IDs in the missing subset.
for m_id in missing_counts.index:
    monkey_rows = monkey_df[monkey_df['mky_id'] == m_id]
    # Check if there is any row that does not have both start and end missing.
    if (~(monkey_rows['ebt_start_time'].isna() & monkey_rows['ebt_end_time'].isna())).any():
        monkeys_mixed.append(m_id)
    else:
        monkeys_no_valid_time.append(m_id)

print("\nMonkey IDs with no valid times recorded at all:", monkeys_no_valid_time)
print("Monkey IDs with a mix of missing and recorded times:", monkeys_mixed)

Missing times count per monkey in the subset:
mky_id
10024    1
10025    1
10052    1
10069    1
10070    1
10078    1
10079    1
10080    1
10081    1
10102    4
dtype: int64

Monkey IDs with no valid times recorded at all: []
Monkey IDs with a mix of missing and recorded times: ['10024', '10025', '10052', '10069', '10070', '10078', '10079', '10080', '10081', '10102']

we will check the number of values eahc of the monkeys with 30+ missing times has

In [147]:
# Get the list of monkey IDs with more than 30 missing time rows
monkeys_above_30 = missing_counts[missing_counts > 30]

# Count total records per monkey for these monkeys
total_records = monkey_df[monkey_df['mky_id'].isin(monkeys_above_30.index)].groupby('mky_id').size()

# Create a summary DataFrame
summary_df = pd.DataFrame({
    'no_time_rows': monkeys_above_30,
    'total_rows': total_records
})

# Calculate percentage of rows with missing time
summary_df['percentage_missing'] = (summary_df['no_time_rows'] / summary_df['total_rows'] * 100).round(2)

print("\nSummary of missing time data for monkeys with more than 30 missing rows:")
print(summary_df)

Summary of missing time data for monkeys with more than 30 missing rows:
Empty DataFrame
Columns: [no_time_rows, total_rows, percentage_missing]
Index: []

In [148]:
#Check if any of this:  10015, 10014, 10012, 10011, 10010 is in the master dataset
clean_master_df[clean_master_df['MATRR ID'].isin(['10015', '10014', '10012', '10011', '10010'])]

Empty DataFrame
Columns: [Species, Cohort, MATRR ID, Date of BC, Timepoint, State, TP:, ALB:, ALKP:, ALT:, AST:, GGT:, TBIL:, GLU:, BUN:, CREA:, K:, NA:, CL:, Ca:, PHOS:, Fe:, CHOL:, LDH:, TRIG:, A/G ratio:, DBIL:, Glob:, Amyl:, MG:, WBC:, NEUT%:, BAND%:, LY%, MONO%:, EOS%:, BASO%:, HCT:, HGB:, RBC:, MCV:, MCH:, MCHC:, PLT:]
Index: []

[0 rows x 44 columns]

It appears none of this appear in the master dataset, so well just do a final inspection of our dataset before we transform it into a timeseries

In [149]:
# 1. Inspect general info (column data types, non-null counts)
print("DataFrame info:")
monkey_df.info()

# 2. Look at basic descriptive statistics
print("\nDescriptive statistics:")
print(monkey_df.describe(include='all'))

# 3. Check for missing values
missing_values = monkey_df.isnull().sum()
print("\nMissing values by column:")
print(missing_values)

# 4. Check for duplicate rows
duplicate_rows = monkey_df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicate_rows}")


# 6. Inspect unique values in each column to confirm categories or date/time conversions
for col in monkey_df.columns:
    unique_vals = monkey_df[col].unique()
    print(f"\nUnique values in '{col}': {unique_vals[:10]}{'...' if len(unique_vals) > 10 else ''} (Total: {len(unique_vals)})")


# 9. (Optional) For time-series data, ensure the dataset is sorted by date/time 
# df.sort_values('date_column', inplace=True)

# 10. Confirm final shape and head
print("\nFinal DataFrame shape:", monkey_df.shape)
print("\nPreview of cleaned data:")
monkey_df.head()

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
Index: 151070 entries, 4051 to 157085
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   mky_id              151070 non-null  object
 1   cohort_name         151070 non-null  object
 2   mky_gender          151070 non-null  object
 3   mky_weight          151070 non-null  float64
 4   drinking_category   151070 non-null  object
 5   bec_exper           0 non-null       float64
 6   bec_exper_day       151070 non-null  float64
 7   bec_sample          151037 non-null  object
 8   bec_gkg_etoh        151070 non-null  float64
 9   bec_daily_gkg_etoh  151034 non-null  float64
 10  bec_mg_pct          151070 non-null  float64
 11  ebt_number          151057 non-null  float64
 12  ebt_start_time      151057 non-null  float64
 13  ebt_end_time        151057 non-null  float64
 14  ebt_intake_rate     142318 non-null  float64
 15  ebt_length          151057 non-null  float64
 16  mtd_etoh_intake     151064 non-null  float64
 17  mtd_pct_etoh        142233 non-null  float64
 18  mtd_veh_intake      148669 non-null  float64
 19  mtd_total_pellets   151070 non-null  float64
 20  mtd_etoh_conc       142233 non-null  float64
dtypes: float64(16), object(5)
memory usage: 25.4+ MB

Descriptive statistics:
        mky_id  cohort_name mky_gender     mky_weight drinking_category  \
count   151070       151070     151070  151070.000000            151070
unique     117           14          2            NaN                 4
top      10020  INIA Cyno 2          M            NaN                LD
freq      3292        23242     109396            NaN             51515
mean       NaN          NaN        NaN       8.315735               NaN
std        NaN          NaN        NaN       2.247951               NaN
min        NaN          NaN        NaN       2.640000               NaN
25%        NaN          NaN        NaN       7.380000               NaN
50%        NaN          NaN        NaN       8.240000               NaN
75%        NaN          NaN        NaN       9.900000               NaN
max        NaN          NaN        NaN      13.800000               NaN

        bec_exper  bec_exper_day bec_sample   bec_gkg_etoh  \
count         0.0  151070.000000     151037  151070.000000
unique        NaN            NaN        443            NaN
top           NaN            NaN   18:00:00            NaN
freq          NaN            NaN      15054            NaN
mean          NaN     273.561806        NaN       2.093379
std           NaN     198.974596        NaN       1.220893
min           NaN       1.000000        NaN       0.000000
25%           NaN     122.000000        NaN       1.400000
50%           NaN     246.000000        NaN       2.000000
75%           NaN     358.000000        NaN       2.700000
max           NaN     937.000000        NaN      50.600000

        bec_daily_gkg_etoh  ...     ebt_number  ebt_start_time   ebt_end_time  \
count        151034.000000  ...  151057.000000   151057.000000  151057.000000
unique                 NaN  ...            NaN             NaN            NaN
top                    NaN  ...            NaN             NaN            NaN
freq                   NaN  ...            NaN             NaN            NaN
mean             51.188006  ...      11.194304    25463.632463   25666.919990
std             212.519261  ...       8.082443    25095.334075   25038.191586
min               0.000000  ...       1.000000        0.000000       0.000000
25%               1.900000  ...       5.000000     7587.000000    7833.000000
50%               2.730000  ...      10.000000    16716.000000   16976.000000
75%               3.830000  ...      16.000000    28996.000000   29084.000000
max            1637.800000  ...     118.000000    79200.000000   79201.000000

        ebt_intake_rate     ebt_length  mtd_etoh_intake   mtd_pct_etoh  \
count     142318.000000  151057.000000    151064.000000  142233.000000
unique              NaN            NaN              NaN            NaN
top                 NaN            NaN              NaN            NaN
freq                NaN            NaN              NaN            NaN
mean           0.180846     203.433797       513.936035      40.245183
std            0.909663     469.200796       311.593483      22.027282
min            0.000127       1.000000        -1.000000       0.000000
25%            0.038473       8.000000       297.800000      25.000000
50%            0.105906      46.000000       489.000000      35.422568
75%            0.228637     245.000000       698.900000      50.200000
max          212.188235   45204.000000      2265.200000     100.000000

        mtd_veh_intake  mtd_total_pellets  mtd_etoh_conc
count    148669.000000      151070.000000   1.422330e+05
unique             NaN                NaN            NaN
top                NaN                NaN            NaN
freq               NaN                NaN            NaN
mean        965.919264         109.247872   4.000000e-02
std         656.838680          43.679321   6.938918e-18
min          -1.000000          -1.000000   4.000000e-02
25%         445.400000          84.000000   4.000000e-02
50%         918.200000         117.000000   4.000000e-02
75%        1436.400000         141.000000   4.000000e-02
max        3649.400000         228.000000   4.000000e-02

[11 rows x 21 columns]

Missing values by column:
mky_id                     0
cohort_name                0
mky_gender                 0
mky_weight                 0
drinking_category          0
bec_exper             151070
bec_exper_day              0
bec_sample                33
bec_gkg_etoh               0
bec_daily_gkg_etoh        36
bec_mg_pct                 0
ebt_number                13
ebt_start_time            13
ebt_end_time              13
ebt_intake_rate         8752
ebt_length                13
mtd_etoh_intake            6
mtd_pct_etoh            8837
mtd_veh_intake          2401
mtd_total_pellets          0
mtd_etoh_conc           8837
dtype: int64

Number of duplicate rows: 0

Unique values in 'mky_id': ['10016' '10018' '10019' '10020' '10021' '10022' '10023' '10024' '10025'
 '10026']... (Total: 117)

Unique values in 'cohort_name': ['INIA Cyno 2' 'INIA Cyno 3' 'INIA Rhesus 4' 'INIA Rhesus 5'
 'INIA Rhesus 6a' 'INIA Rhesus 6b' 'INIA Rhesus 7b' 'INIA Rhesus 7a'
 'INIA Cyno 8' 'INIA Rhesus 10']... (Total: 14)

Unique values in 'mky_gender': ['M' 'F'] (Total: 2)

Unique values in 'mky_weight': [8.18 7.38 7.92 7.58 7.86 8.   8.74 7.74 8.8  7.2 ]... (Total: 104)

Unique values in 'drinking_category': ['LD' 'VHD' 'BD' 'HD'] (Total: 4)

Unique values in 'bec_exper': [nan] (Total: 1)

Unique values in 'bec_exper_day': [ 47. 523. 638. 512. 497.   6.  12.  14. 820. 614.]... (Total: 510)

Unique values in 'bec_sample': ['18:21:00' '18:01:00' '18:10:00' '18:08:00' '18:14:00' '12:23:00'
 '11:40:00' '11:29:00' '18:23:00' '11:43:00']... (Total: 444)

Unique values in 'bec_gkg_etoh': [2.06 2.23 1.69 1.82 1.76 0.28 0.23 2.43 2.25 0.41]... (Total: 528)

Unique values in 'bec_daily_gkg_etoh': [2.66 2.35 1.76 2.3  0.51 0.5  2.46 2.42 1.   2.8 ]... (Total: 1092)

Unique values in 'bec_mg_pct': [ 73. 153.  97.   0. 140.  10. 146. 114.  24.  14.]... (Total: 1845)

Unique values in 'ebt_number': [ 6. 15.  1.  3.  4.  5.  7.  8. 10. 11.]... (Total: 119)

Unique values in 'ebt_start_time': [10245. 23035.  3247.  5747.  6436.  7506. 10720. 11332. 13603. 14589.]... (Total: 47117)

Unique values in 'ebt_end_time': [10289. 23389.  3689.  5950.  6480.  7506. 10822. 11436. 13899. 14872.]... (Total: 47127)

Unique values in 'ebt_intake_rate': [0.11900826 0.07995891 0.07457014 0.02837438 0.06743802 0.08727273
 0.09383244 0.11104895 0.02230958 0.00596209]... (Total: 114530)

Unique values in 'ebt_length': [ 44. 354. 442. 203.   1. 102. 104. 296. 283.  90.]... (Total: 2881)

Unique values in 'mtd_etoh_intake': [548.4  -1.   84.3  83.1  83.6  85.   86.4  85.2 173.1 174.9]... (Total: 5842)

Unique values in 'mtd_pct_etoh': [93.90410959         nan 28.63451087 27.59880438 28.8973384  18.76793994
 15.47277937 17.3488088  37.75354417 53.86510625]... (Total: 5314)

Unique values in 'mtd_veh_intake': [ 35.6  -1.  210.1 218.  205.7 367.9 472.  405.9 285.4 149.8]... (Total: 7555)

Unique values in 'mtd_total_pellets': [84. -1. 85. 90. 69. 72. 75. 78. 74. 81.]... (Total: 165)

Unique values in 'mtd_etoh_conc': [0.04  nan] (Total: 2)

Final DataFrame shape: (151070, 21)

Preview of cleaned data:

,mky_id,cohort_name,mky_gender,mky_weight,drinking_category,bec_exper,bec_exper_day,bec_sample,bec_gkg_etoh,bec_daily_gkg_etoh,...,ebt_number,ebt_start_time,ebt_end_time,ebt_intake_rate,ebt_length,mtd_etoh_intake,mtd_pct_etoh,mtd_veh_intake,mtd_total_pellets,mtd_etoh_conc
4051,10016,INIA Cyno 2,M,8.18,LD,NaN,47.0,18:21:00,2.06,2.66,...,6.0,10245.0,10289.0,0.119008,44.0,548.4,93.90411,35.6,84.0,0.04
4052,10016,INIA Cyno 2,M,8.18,LD,NaN,47.0,18:21:00,2.06,2.66,...,15.0,23035.0,23389.0,0.079959,354.0,548.4,93.90411,35.6,84.0,0.04
4053,10016,INIA Cyno 2,M,8.18,LD,NaN,47.0,18:21:00,2.06,2.66,...,1.0,3247.0,3689.0,0.074570,442.0,548.4,93.90411,35.6,84.0,0.04
4054,10016,INIA Cyno 2,M,8.18,LD,NaN,47.0,18:21:00,2.06,2.66,...,3.0,5747.0,5950.0,0.028374,203.0,548.4,93.90411,35.6,84.0,0.04
4055,10016,INIA Cyno 2,M,8.18,LD,NaN,47.0,18:21:00,2.06,2.66,...,4.0,6436.0,6480.0,0.067438,44.0,548.4,93.90411,35.6,84.0,0.04

From this we see our bec_exper data doesnt have any useful data so well drop that

In [150]:
monkey_df.drop(columns=['bec_exper'], inplace=True)

In [151]:
monkey_df['ebt_volume'] = monkey_df['ebt_intake_rate'] * monkey_df['ebt_length']

In [152]:
#Lets do a subset of just the first two cohorts to test our timeseries transformation
subset = monkey_df[monkey_df['cohort_name'].isin(['INIA Cyno 2', 'INIA Rhesus 14'])]

In [153]:
def overlap_seconds(startA, endA, startB, endB):
    # overlap between intervals A [startA, endA) and B [startB, endB)
    return max(0, min(endA, endB) - max(startA, startB))

def expand_to_timeseries(df, freq='5T'):
    # We'll produce a new DataFrame with consistent time bins and fill drinking volumes.

    # Convert start/end to timedeltas relative to a "dummy" day:
    df['start_delta'] = pd.to_timedelta(df['ebt_start_time'], unit='s')
    df['end_delta']   = pd.to_timedelta(df['ebt_end_time'],   unit='s')

    # We’ll group by monkey & day so we can do expansions day by day.
    all_results = []
    for (mky, day), sub in df.groupby(['mky_id', 'bec_exper_day']):
        # Create a time range for that day:
        day_times = pd.date_range(start='00:00:00', end='23:59:59', freq=freq)

        # Build a DataFrame for bins, each row is one 5-min bin
        bins_df = pd.DataFrame({'time': day_times})

        # Convert each bin label to "seconds from midnight"
        bins_df['bin_start_s'] = (bins_df['time'] - day_times[0]).dt.total_seconds()

        # Also define a bin_end_s (the next bin’s start) or bin_start_s + 300
        # since freq='5T' is 300 seconds
        bins_df['bin_end_s'] = bins_df['bin_start_s'] + 300

        # Initialize volume to 0
        bins_df['volume'] = 0.0

        # For each event in sub (the ebt row):
        for _, row_ev in sub.iterrows():
            event_start = row_ev['ebt_start_time']  # numeric seconds
            event_end   = row_ev['ebt_end_time']
            total_event_secs = event_end - event_start

            # If there's no time in this event, skip
            if total_event_secs <= 0:
                continue

            # For each bin, compute overlap
            for b_i, b_row in bins_df.iterrows():
                bin_start_s = b_row['bin_start_s']
                bin_end_s   = b_row['bin_end_s']

                overlap = overlap_seconds(event_start, event_end, bin_start_s, bin_end_s)
                if overlap > 0:
                    frac = overlap / total_event_secs
                    vol_in_bin = frac * row_ev['ebt_volume']
                    bins_df.at[b_i, 'volume'] += vol_in_bin

        # Attach monkey/day columns
        bins_df['mky_id'] = mky
        bins_df['bec_exper_day'] = day

        all_results.append(bins_df)

    final = pd.concat(all_results, ignore_index=True)
    return final

In [154]:
expanded_df = expand_to_timeseries(subset)

/var/folders/lm/n1zfybqd7rs45jrlmqm9g_5r0000gn/T/ipykernel_97872/658903475.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['start_delta'] = pd.to_timedelta(df['ebt_start_time'], unit='s')
/var/folders/lm/n1zfybqd7rs45jrlmqm9g_5r0000gn/T/ipykernel_97872/658903475.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end_delta']   = pd.to_timedelta(df['ebt_end_time'],   unit='s')

KeyboardInterrupt:

In [ ]:
#Just do a subset of day 5 for monkey 10016 from the subset
subset_day_5 = monkey_df[(monkey_df['mky_id'] == '10016') & (monkey_df['bec_exper_day'] == 5)]

#Order the day 5 data by ebt start time and show all the ebt data including ebt number
subset_day_5.sort_values('ebt_start_time')[['mky_id', 'cohort_name', 'mky_gender', 'mky_weight',
       'drinking_category', 'bec_exper_day' ,'ebt_start_time', 'ebt_end_time', 'ebt_number', 'ebt_volume', 'ebt_intake_rate', 'ebt_length']]

,mky_id,cohort_name,mky_gender,mky_weight,drinking_category,bec_exper_day,ebt_start_time,ebt_end_time,ebt_number,ebt_volume,ebt_intake_rate,ebt_length
4226,10016,INIA Cyno 2,M,8.18,LD,5.0,3.0,492.0,1.0,20.830189,0.042598,489.0
4312,10016,INIA Cyno 2,M,8.18,LD,5.0,4.0,203.0,1.0,30.876404,0.155158,199.0
4314,10016,INIA Cyno 2,M,8.18,LD,5.0,2114.0,2139.0,2.0,1.044944,0.041798,25.0
4227,10016,INIA Cyno 2,M,8.18,LD,5.0,2200.0,2200.0,2.0,0.104499,0.104499,1.0
4219,10016,INIA Cyno 2,M,8.18,LD,5.0,3463.0,3963.0,3.0,7.907112,0.015814,500.0
4313,10016,INIA Cyno 2,M,8.18,LD,5.0,4351.0,4353.0,3.0,0.977528,0.488764,2.0
4321,10016,INIA Cyno 2,M,8.18,LD,5.0,4660.0,4674.0,4.0,1.112360,0.079454,14.0
4220,10016,INIA Cyno 2,M,8.18,LD,5.0,4921.0,5098.0,4.0,1.323657,0.007478,177.0
4224,10016,INIA Cyno 2,M,8.18,LD,5.0,6271.0,6271.0,5.0,0.069666,0.069666,1.0
4322,10016,INIA Cyno 2,M,8.18,LD,5.0,6451.0,6455.0,5.0,1.011236,0.252809,4.0
4335,10016,INIA Cyno 2,M,8.18,LD,5.0,6799.0,7078.0,6.0,2.191011,0.007853,279.0
4228,10016,INIA Cyno 2,M,8.18,LD,5.0,7371.0,7614.0,6.0,1.706821,0.007024,243.0
4330,10016,INIA Cyno 2,M,8.18,LD,5.0,7682.0,7778.0,7.0,1.179775,0.012289,96.0
4331,10016,INIA Cyno 2,M,8.18,LD,5.0,8292.0,8610.0,8.0,3.337079,0.010494,318.0
4229,10016,INIA Cyno 2,M,8.18,LD,5.0,8412.0,8422.0,7.0,2.960813,0.296081,10.0
4332,10016,INIA Cyno 2,M,8.18,LD,5.0,9158.0,9162.0,9.0,1.415730,0.353933,4.0
4333,10016,INIA Cyno 2,M,8.18,LD,5.0,9787.0,9788.0,10.0,0.977528,0.977528,1.0
4230,10016,INIA Cyno 2,M,8.18,LD,5.0,10706.0,10711.0,8.0,1.880987,0.376197,5.0
4334,10016,INIA Cyno 2,M,8.18,LD,5.0,11009.0,11297.0,11.0,4.651685,0.016152,288.0
4231,10016,INIA Cyno 2,M,8.18,LD,5.0,11574.0,11742.0,9.0,1.219158,0.007257,168.0
4323,10016,INIA Cyno 2,M,8.18,LD,5.0,11884.0,11886.0,12.0,1.348315,0.674157,2.0
4324,10016,INIA Cyno 2,M,8.18,LD,5.0,12452.0,12452.0,13.0,0.067416,0.067416,1.0
4325,10016,INIA Cyno 2,M,8.18,LD,5.0,12788.0,13082.0,14.0,2.898876,0.009860,294.0
4232,10016,INIA Cyno 2,M,8.18,LD,5.0,12911.0,12931.0,10.0,4.284470,0.214224,20.0
4326,10016,INIA Cyno 2,M,8.18,LD,5.0,13411.0,13411.0,15.0,0.067416,0.067416,1.0
4233,10016,INIA Cyno 2,M,8.18,LD,5.0,13882.0,14131.0,11.0,2.891147,0.011611,249.0
4327,10016,INIA Cyno 2,M,8.18,LD,5.0,13953.0,14000.0,16.0,4.179775,0.088931,47.0
4315,10016,INIA Cyno 2,M,8.18,LD,5.0,14561.0,14586.0,17.0,2.426966,0.097079,25.0
4316,10016,INIA Cyno 2,M,8.18,LD,5.0,15089.0,15144.0,18.0,1.348315,0.024515,55.0
4328,10016,INIA Cyno 2,M,8.18,LD,5.0,15472.0,16091.0,19.0,7.213483,0.011653,619.0
4225,10016,INIA Cyno 2,M,8.18,LD,5.0,16214.0,16351.0,12.0,7.558781,0.055174,137.0
4317,10016,INIA Cyno 2,M,8.18,LD,5.0,16681.0,16712.0,20.0,2.528090,0.081551,31.0
4221,10016,INIA Cyno 2,M,8.18,LD,5.0,16685.0,16706.0,13.0,2.055152,0.097864,21.0
4318,10016,INIA Cyno 2,M,8.18,LD,5.0,17839.0,17854.0,21.0,2.865169,0.191011,15.0
4222,10016,INIA Cyno 2,M,8.18,LD,5.0,17871.0,17943.0,14.0,3.448476,0.047896,72.0
4319,10016,INIA Cyno 2,M,8.18,LD,5.0,18471.0,18652.0,22.0,8.831461,0.048793,181.0
4223,10016,INIA Cyno 2,M,8.18,LD,5.0,18492.0,18498.0,15.0,2.055152,0.342525,6.0
4320,10016,INIA Cyno 2,M,8.18,LD,5.0,20283.0,20589.0,23.0,6.134831,0.020048,306.0
4329,10016,INIA Cyno 2,M,8.18,LD,5.0,21169.0,21177.0,24.0,1.853933,0.231742,8.0

In [ ]:
expanded_df[expanded_df['mky_id'] == '10016']['bec_exper_day']

0          5.0
1          5.0
2          5.0
3          5.0
4          5.0
         ...
37723    937.0
37724    937.0
37725    937.0
37726    937.0
37727    937.0
Name: bec_exper_day, Length: 37728, dtype: float64