In [10]:
#Read csv file

import pandas as pd

master = pd.read_csv('csv files/10_23_2024_MASTER_MATRR_AllCohorts_Blood_hematology_biochemistry.csv')

# Read the master file. If the CSV has a header row, pandas will use it.
master_df =pd.read_csv('csv files/10_23_2024_MASTER_MATRR_AllCohorts_Blood_hematology_biochemistry.csv')

# Read the biomarker crosstime points file
biomarker_df = pd.read_csv("csv files/Biomarker Cross Timepoints.csv")

# Check the first few rows of each to verify they loaded correctly
print("Master file:")
print(master_df.head(5))

print("\nBiomarker file:")
print(biomarker_df.head(5))

Master file:
  Species Cohort MATRR ID  Date of BC      Timepoint    State  TP:  ALB:  \
0    cyno      2    10016   8/17/2005  pre-induction  sedated  7.4   NaN
1    cyno      2    10016    2/6/2006  H2O induction    awake  NaN   NaN
2    cyno      2    10016   3/27/2006  H2O induction  sedated    7   4.2
3    cyno      2    10016  10/26/2006  open access 1  sedated  7.9   4.6
4    cyno      2    10016   4/18/2007  open access 2  sedated    7   4.2

   ALKP:  ALT:  ...  BASO%:  HCT:  HGB:  RBC:  MCV:  MCH:  MCHC:   PLT:  \
0    NaN   NaN  ...     0.7  43.5  14.3  6.05  72.0  23.6   32.9  426.0
1    NaN   NaN  ...     0.7  44.1  14.1  5.90  75.0  23.9   32.0  167.0
2  167.0  45.0  ...     0.8  42.8  13.9  5.73  75.0  24.3   32.5  378.0
3   84.0  37.0  ...     0.5  42.5  13.7  5.66  75.0  24.2   32.2  446.0
4  138.0  25.0  ...     0.9  42.9  13.5  5.63  76.0  24.0   31.5  214.0

   Unnamed: 44        Unnamed: 45
0          NaN  LY% = Lymphocytes
1          NaN                NaN
2          NaN                NaN
3          NaN                NaN
4          NaN                NaN

[5 rows x 46 columns]

Biomarker file:
        ID Drinking Category Species Sex       Age  Cortisol  ACTH  \
0  10069.0               VHD  Rhesus   F  4.136977       NaN   NaN
1  10070.0               VHD  Rhesus   F  4.117812       NaN   NaN
2  10072.0                LD  Rhesus   F  5.834480       NaN   NaN
3  10073.0               VHD  Rhesus   F  5.629137       NaN   NaN
4  10074.0                LD  Rhesus   F  5.585330       NaN   NaN

   Deoxycorticosterone  Aldosterone  DHEAS  ...  MIFAnalyte_46       IL_1RA  \
0                  NaN          NaN    NaN  ...      92.381481   436.517067
1                  NaN          NaN    NaN  ...      81.748359   495.060658
2                  NaN          NaN    NaN  ...      25.171621  1895.472706
3                  NaN          NaN    NaN  ...      11.968421   377.229597
4                  NaN          NaN    NaN  ...      27.572010  2035.124018

       TNF_a        IL_2     IP_10         MIG      IL_4      IL_8  \
0  31.596474  204.310168  2.293394  303.533753  3.913593  0.290000
1  54.033872  497.809677  1.588706  307.364482  2.984589  0.290000
2  16.848129   97.404725  2.292832   19.797336  2.408287  0.395192
3  10.366293   33.328021  0.984545   23.738633  0.814232  0.200000
4  23.880953  143.246838  6.181451   51.158897  2.408287  0.200000

        IL_23    VEGF_D
0  204.310168  0.059000
1  497.809677  0.059000
2   97.404725  0.378840
3   33.328021  0.072519
4  143.246838  0.797476

[5 rows x 43 columns]

In [14]:
clean_df = master_df.loc[(master_df['Timepoint'] == 'open access 1') | (master_df['Timepoint'] == 'open access')]

In [16]:
len(clean_df['MATRR ID'].unique())

185

In [3]:
print(master_df.columns)
print(biomarker_df.columns)

Index(['Species', 'Cohort', 'MATRR ID', 'Date of BC', 'Timepoint', 'State',
       'TP:', 'ALB:', 'ALKP:', 'ALT:', 'AST:', 'GGT:', 'TBIL:', 'GLU:', 'BUN:',
       'CREA:', 'K:', 'NA:', 'CL:', 'Ca:', 'PHOS:', 'Fe:', 'CHOL:', 'LDH:',
       'TRIG:', 'A/G ratio:', 'DBIL:', 'Glob:', 'Amyl:', 'MG:', 'WBC:',
       'NEUT%:', 'BAND%:', 'LY%', 'MONO%:', 'EOS%:', 'BASO%:', 'HCT:', 'HGB:',
       'RBC:', 'MCV:', 'MCH:', 'MCHC:', 'PLT:', 'Unnamed: 44', 'Unnamed: 45'],
      dtype='object')
Index(['ID', 'Drinking Category', 'Species', 'Sex', 'Age', 'Cortisol', 'ACTH',
       'Deoxycorticosterone', 'Aldosterone', 'DHEAS', 'Osteocalcin', 'CTX',
       'FGF_basic', 'IL_1b', 'G_CSF', 'IL_10', 'IL_6', 'IL_12', 'RANTES',
       'Eotaxin', 'IL_17', 'MIP_1a', 'GM_CSF', 'MIP_1b', 'MCP_1', 'IL_15',
       'EGF', 'IL_5', 'HGF', 'VEGF', 'IFN_y', 'MDC', 'I_TAC', 'MIFAnalyte_46',
       'IL_1RA', 'TNF_a', 'IL_2', 'IP_10', 'MIG', 'IL_4', 'IL_8', 'IL_23',
       'VEGF_D'],
      dtype='object')

In [4]:
#iminamos la fila de biomarkers que es puro NaN
biomarker_df = biomarker_df.dropna(how='all')

In [5]:
#We need to ensure both keys are strings to be able to use them as keys to merge our dataframes
master_df["MATRR ID"] = master_df["MATRR ID"].astype(str)

#We need to make the biomarker ID first be just an int not a float and theh a string
biomarker_df["ID"] = biomarker_df["ID"].astype(int).astype(str)

In [6]:
merged_df = pd.merge(master_df, biomarker_df, left_on="MATRR ID", right_on="ID", how="left")


# Now we check the merged dataframe
print("Merged data:")
print(merged_df.head())

Merged data:
  Species_x Cohort MATRR ID  Date of BC      Timepoint    State  TP:  ALB:  \
0      cyno      2    10016   8/17/2005  pre-induction  sedated  7.4   NaN
1      cyno      2    10016    2/6/2006  H2O induction    awake  NaN   NaN
2      cyno      2    10016   3/27/2006  H2O induction  sedated    7   4.2
3      cyno      2    10016  10/26/2006  open access 1  sedated  7.9   4.6
4      cyno      2    10016   4/18/2007  open access 2  sedated    7   4.2

   ALKP:  ALT:  ...  MIFAnalyte_46  IL_1RA  TNF_a  IL_2  IP_10  MIG  IL_4  \
0    NaN   NaN  ...            NaN     NaN    NaN   NaN    NaN  NaN   NaN
1    NaN   NaN  ...            NaN     NaN    NaN   NaN    NaN  NaN   NaN
2  167.0  45.0  ...            NaN     NaN    NaN   NaN    NaN  NaN   NaN
3   84.0  37.0  ...            NaN     NaN    NaN   NaN    NaN  NaN   NaN
4  138.0  25.0  ...            NaN     NaN    NaN   NaN    NaN  NaN   NaN

   IL_8  IL_23 VEGF_D
0   NaN    NaN    NaN
1   NaN    NaN    NaN
2   NaN    NaN    NaN
3   NaN    NaN    NaN
4   NaN    NaN    NaN

[5 rows x 89 columns]

In [19]:
merged_df

,Species_x,Cohort,MATRR ID,Date of BC,Timepoint,State,TP:,ALB:,ALKP:,ALT:,...,MIFAnalyte_46,IL_1RA,TNF_a,IL_2,IP_10,MIG,IL_4,IL_8,IL_23,VEGF_D
0,cyno,2,10016,8/17/2005,pre-induction,sedated,7.4,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,cyno,2,10016,2/6/2006,H2O induction,awake,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,cyno,2,10016,3/27/2006,H2O induction,sedated,7,4.2,167.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,cyno,2,10016,10/26/2006,open access 1,sedated,7.9,4.6,84.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,cyno,2,10016,4/18/2007,open access 2,sedated,7,4.2,138.0,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1042,rhesus,20,10359,5/3/2022,baseline,sedated,6.5,4.2,879.0,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1043,rhesus,20,10359,3/30/2023,H2O induction,sedated,6.4,3.8,423.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1044,rhesus,20,10359,7/17/2023,1.5 g/kg etoh induction,sedated,6.4,3.8,351.0,24.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1045,rhesus,20,10359,7/21/2023,1.5 g/kg etoh induction,awake,6.2,3.7,327.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1046,rhesus,20,10359,4/9/2024,pre-necropsy,sedated,6.8,3.9,241.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
len(merged_df['MATRR ID'].unique())

206

In [8]:
# Save the merged dataframe if needed
merged_df.to_csv("csv files/merged.csv", index=False)
print("Merged CSV saved as 'merged.csv'")

Merged CSV saved as 'merged.csv'